
body {
    background-color: #9cb8af;
}



header {
    text-align: center;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4491b3;
    padding: 10px;
}

label {
    
}

button {
    padding: 10px;
    width: fit-content;
    border: 5px outset #779e92;
    border-radius: 10px;
    background: #779e92;
}
#curDiv {
    border: 8px ridge #779e92;
}

#cardDiv {
    border: 5px ridge #779e92;
    
}

